body {
  margin: 1%;
  padding: 1%;
}

/*class*/

.backgroundcolor {
  padding: 100px;
  background-color: #1c1c1c;
}

.day-mode {
  background-color: white;
  color: black;
}

.textcolor {
  color: #cccccc;
}

.skrift1 {
  position: static;
  width: 20px;
  overflow:hidden;
  height:1em;
  word-spacing: 1px;
  font-family: 'Sofia Sans Condensed';
}

.skrift2 {
  position: static;
  width:200px;
  overflow:hidden;
  height:1em;
  word-spacing: 1px;
  font-family: 'Sofia Sans Condensed';
}

.button-changecolor {
  background: linear-gradient(to bottom right, #2ba335, #174386);
  border: 0;
  border-radius: 12px;
  color: #e4e4e4;
  cursor: pointer;
  display: inline-block;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 12px;
  line-height: 2.5;
  padding: 0 1rem;
  text-align: center;
  margin-left: 0px;
  margin-top: 40px;
}

/*id*/

i {
  font-size: 50px;
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
