body {
  margin: 1%;
  padding: 1%;
}

/*class*/

.backgroundcolor {
  padding: 25px;
  width: 450px;
  text-align: center;
  position: absolute;
  top: 12%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #272727;
}

.day-mode {
  background-color: white;
  color: black;
}

.textcolor {
  color: #cccccc;
}

.skrift1 {
  position: static;
  width: 20px;
  overflow:hidden;
  height:1em;
  word-spacing: 1px;
  font-family: 'Open Sans';
}

.skrift2 {
  position: static;
  width:200px;
  overflow:hidden;
  height:1em;
  word-spacing: 1px;
  font-family: 'Open Sans';
}

.darkKnapp {
  font-size: 35px;
  cursor: pointer;
  position: absolute;
  top: 130%;
  left: 5%;
  transform: translate(-50%, -50%);
}

.hjerteKnapp {
  font-size: 35px;
  cursor: pointer;
  position: absolute;
  top: 131%;
  left: 15%;
  transform: translate(-50%, -50%);
}

.githubKnapp {
  font-size: 35px;
  cursor: pointer;
  position: absolute;
  top: 131%;
  left: 26%;
  transform: translate(-50%, -50%);
}