/*class*/

.backgroundcolor {
  background-color: #1c1c1c;
}

.textcolor {
  color: #cccccc;
}

.skrift1 {
  position: static;
  margin-left: 20px;
  margin-top: 100px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  word-break: break-all;
}

.skrift2 {
  position: static;
  margin-left: 20px;
  margin-top: 100px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  word-break: break-all;
}

.button-changecolor {
  background: linear-gradient(to bottom right, #2ba335, #174386);
  border: 0;
  border-radius: 12px;
  color: #e4e4e4;
  cursor: pointer;
  display: inline-block;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 12px;
  line-height: 2.5;
  padding: 0 1rem;
  text-align: center;
  margin-left: 0px;
  margin-top: 40px;
}
.testern{
  position:static;
  margin-left: 20px;
  margin-top: 100px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*id*/

#button-changecolor {
  background: linear-gradient(to bottom right, #2ba335, #174386);
  border: 0;
  border-radius: 12px;
  color: #e4e4e4;
  cursor: pointer;
  display: inline-block;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 12px;
  line-height: 2.5;
  padding: 0 1rem;
  text-align: center;
}